<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div style="text-align: center;">
    <h1>WITAM SERDECZNIE NA NASZEJ STRONIE ANKIET</h1>
    <br>
    <center>
    <form action="#" th:action="@{/home}" method="post">
        <div class="col-md-6">
            <input type="submit"  class="btn btn-primary" value="         Log in         ">
        </div>
    </form>
    </center>
</div>
</body>
</html>