<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div style="text-align: center;">
    <center>
    <h1>PANEL UZYTKOWNIKA</h1>
        <form action="#" th:action="@{/user/surveys}" method="post">
            <div class="col-md-6">
                <input type="submit"  class="btn btn-primary" value="  My surveys  ">
            </div>
        </form>
        <br>
        <form action="#" th:action="@{/user/surveys/getMySurvey}" method="post">
            <div class="col-md-6">
                <input type="submit"  class="btn btn-primary" value="  Show my survey  ">
            </div>
        </form>
        <br>
        <form action="#" th:action="@{/logout}" method="post">
            <div class="col-md-6">
                <input type="submit"  class="btn btn-primary" value="  Logout  ">
            </div>
        </form>
    </center>
</div>
</body>
</html>