<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Completing survey</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<center>
    <form action="#" th:action="@{/user/surveys/finish}" th:object="${filledSurvey}" method="post">

        <div th:each="question, questionStat: ${filledSurvey.getFilledQuestions()}">
            <b><a th:text="${question.getQuestion()}"></a></b>
            <div th:each="answer, answerStat: ${question.getFilledAnswers()}">
                <input type="radio"
                       th:value="${true}"
                       th:name="${questionStat}"
                       th:text="${answer.answer}"
                >
            </div>
            <br>
        </div>

        <br>
        <div class="col-md-6">
            <input type="submit" style="align-content: center" class="btn btn-primary" value="  Send  ">
        </div>
    </form>
</center>
</body>
</html>