<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Surveys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${surveys}" class="container my-5">
                <p class="my-5">
                    <a href="surveys/add" class="btn btn-primary">
                        <i class="fas fa-poll-h ml-2"> Add Survey </i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Survey name</th>
                                <th>Number of questions</th>
                                <th>View</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="survey : ${surveys}">
                                <td th:text="${survey.getSurveyName()}"></td>
                                <td th:text="${survey.getQuestions().size()}"></td>
                                <td>
                                    <a th:href="@{/surveys/show/{id}(id=${survey.surveyId})}"
                                       class="btn btn-primary">
                                        <i class="far fa-eye ml-1"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>